*{  margin: 0;  padding: 0; box-sizing: border-box; }

body{ 
    display: flex;  justify-content: center; align-items: center; min-height: 100vh;  background: #111;
}

.container{
    position: relative; width: 100%; display:flex; justify-content: center; align-items: center;
}

.container .circle{
    width: 250px; height:250px; margin: -30px; border-radius: 50%; border: 3px solid #00FFFF; animation: animate 4s linear infinite;
}

.circle:nth-child(2) {    border: 3px solid #8A2BE2;    }

.circle:nth-child(3) {  border: 3px solid #8B008B;  }

.circle:nth-child(4) {  border: 3px solid #FF1493;  }

.circle:nth-child(5) {  border: 3px solid #FF00FF;  }

@keyframes animate{
    25%{    transform: rotate(180deg);  width: 140px;   }
    50%{    transform: rotate(360deg);    width: 0x;    }
    75%{    transform: rotate(180deg);    width: 140px; }
    100%{   transform: rotate(0deg);    width: 250px;   }
}
