*{ margin: 0; padding: 0; box-sizing: border-box; }
body{ display:flex; justify-content:center; align-items:center; 
  min-height: 100vh; background: #111;
}
.ball {
  position:relative; bottom:100px; left: calc(100%-90px);
  width: 100px; height: 100px; border-radius: 50%;
  background: #bfdc48d0; box-shadow: 0px 0px 25px -10px palegreen;
  animation: move 3s ease-in-out 1s infinite alternate;
}
.ball::after {
  position: absolute;  top: 50px;   right: 10px; content: "";
  width: 10px; height: 10px; background: #fff;border-radius: 50%;
}
.plank{
  position:absolute;  top:52.5vh; width: 500px; height:25px;
  background-color:  wheat;
  border-radius:25px; transform:rotate(15deg);
  animation: r-plank 3s ease-in-out 1s infinite alternate;
}
.triangle{
  position:absolute; top:55.2vh; width: 0; height: 0;
	border-left: 80px solid transparent;
	border-right: 80px solid transparent;
	border-bottom: 160px solid palevioletred;
}
@keyframes r-plank{
  from{transform: rotate(15deg);}to{transform: rotate(-15deg);}
}
@keyframes move {
  from { left: calc(100% - 90px); transform: rotate(360deg); }
  to { left: calc(0% - 10px); transform: rotate(0deg); }
}