*{ margin: 0; padding: 0; box-sizing: border-box; }
body{   
    display: flex; justify-content: center;
    align-items: center; min-height: 100vh; background: #111;
}
#wrapD3Cube {
    width: 400px; height: 400px; margin: 40px auto;animation: animate1 4s linear infinite;     
}
#D3Cube {
    width: 224px; height: 225px; top: 50px; transform-style: preserve-3d;
    transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);
    margin: auto;   position: relative;
    transform-style: preserve-3d;   transition: all 0.5s ease-in-out;
}
#D3Cube > div {
    position: absolute; transition: all 0.5s ease-in-out;   width: 224px; height: 224px;
    float: left;    overflow: hidden; opacity: 0.85;
}
#side1 {
    transform: rotatex(90deg) translateX(0px) translateY(0px) translateZ(112px);
}
#side2 {
    transform: rotateY(-90deg) translateX(0px) translateY(0px) translateZ(112px);
}
#side3 {
    transform: translateX(0px) translateY(0px) translateZ(112px);
}
#side4 {
    transform: rotateY(90deg) translateX(0px) translateY(0px) translateZ(112px);
}
#side5 {
    transform: rotateY(180deg) translateX(0px) translateY(0px) translateZ(112px);
}
#side6 {
    transform: rotateX(-90deg) translateX(0px) translateY(0px) translateZ(112px);
}
#D3Cube {   animation: cubeRotation 5s infinite; }
@keyframes cubeRotation {
    0%   {  transform: rotateX(-22deg) rotateY(-38deg) rotateZ(0deg);   }
    50%   { transform: rotateX(-22deg) rotateY(-238deg) rotateZ(0deg);  }
    100%   {    transform: rotateX(-22deg) rotateY(-398deg) rotateZ(0deg);  }
}
.circle{
    position: relative; left:   41.3%; top:33.3%; width: 50px; height:50px; 
    border-radius: 50%; background-color: #24ecff88;
    box-shadow: 0 0 0 60.75px #24ecff55,
    0 0 0 71.5px #24ecff44,
    0 0 0 83px #24ecff33,
    0 0 0 96px #24ecff22,
    0 0 0 112px #24ecff11;
    animation: animate 8s linear infinite; 
}
@keyframes animate{
    50%{ background-color: transparent; box-shadow:none; }
    100%{ background-color: #24ecff88; }
}
@keyframes animate1{
    0%{ transform: rotate(0deg); }
    100%{ transform: rotate(360deg); }
}