*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: #181818;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.eye{
    width: 40em;
    height: 40em;
    background:white;
    position:absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%) rotate(45deg);
    border-radius: 70% 0;
}

.sharingan{
    background: red;
    width:18em;
    height: 18em;
    position:relative;
    top:27%;
    left: 27%;
    border: 5px black solid;
    animation:
        spin 5s ease-in-out infinite,
        spin 5s ease-in-out infinite;
}

.sharingan .inner-ring{
    content:"";
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10em;
    height: 10em;
    border: 4px rgba(110,13,13,0.5) solid;
}

.sharingan,
.circle,
.inner-ring{
    border-radius: 50%;
}

.tomoe {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 60px solid black;
}

.sharingan .tomoe:nth-child(1){
    top: -3.9em;
    left: 50%;
    transform: translateX(-50%);
}


.sharingan .tomoe:nth-child(2){
    top: 5.9em;
    left: -3.3em;
    transform: rotate(-117deg);
}



.sharingan .tomoe:nth-child(3){
    top: 5.9em;
    right: -3.3em;
    transform: rotate(117deg);
}

.sharingan .circle{
    position: relative;
     width:2em;
     height: 2em;
     top:40%;
     left: 40%;
    background:black;
    }
    
.triangle {
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-bottom: 100px solid black;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}

@keyframes shine{
    0%{
        background: #e41414;
        opacity: 0;
    }
    50%{
        background: #f03a3a;
        box-shadow: 0 0 4px 4px #f03a3a;
    }
    100%{
        box-shadow: none;
        background: #e41414;
        opacity: 1;
    }
}
