* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #111;
}

.container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .ring {
    position: relative;
    width: 300px;
    height: 300px;
    margin: -20px;
    border-radius: 50%;

    animation: animate 4s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.container .ring:nth-child(1) {
    left: 15%;
    border-top: 4px solid #24ecff;
    border-bottom: 4px solid #24ecff;
}
.container .ring:nth-child(2) {
    left: 7%;
    border-top: 4px solid #24ff7c;
    border-bottom: 4px solid #24ff7c;
}

.container .ring:nth-child(3) {
    border-top: 4px solid #24ecff;
    border-bottom: 4px solid #24ecff;
}

.container .ring:nth-child(4) {
    right: 7%;
    border-top: 4px solid #24ff7c;
    border-bottom: 4px solid #24ff7c;
}


.container .ring:nth-child(5) {
    right: 15%;
    border-top: 4px solid #24ecff;
    border-bottom: 4px solid #24ecff;
}