*{ margin: 0; padding: 0; box-sizing: border-box; }
body{ display: flex; justify-content: center;
  align-items: center; min-height: 100vh; background: #111;
}
.circle{  width: 200px; height:200px; animation: animate 1s linear infinite ; }
@keyframes animate {
  0% { transform: translate(0, -1em) rotate(-45deg); border: 5px solid red; }
  5% { transform: translate(0, -1em) rotate(-50deg); border: 5px solid royalblue; }
  20% { transform: translate(1em, -2em) rotate(47deg); border: 5px solid gold; }
  25% { transform: translate(1em, -2em) rotate(45deg); border: 5px solid pink; }
  30% { transform: translate(1em, -2em) rotate(40deg); border: 5px solid purple; }
  45% { transform: translate(2em, -3em) rotate(137deg); border: 5px solid yellow; }
  50% { transform: translate(2em, -3em) rotate(135deg); border: 5px solid plum; }
  55% { transform: translate(2em, -3em) rotate(130deg); border: 5px solid paleturquoise; }
  70% { transform: translate(3em, -4em) rotate(217deg); border: 5px solid palevioletred; }
  75% { transform: translate(3em, -4em) rotate(220deg); border: 5px solid orange; }
  100% { transform: translate(0, -1em) rotate(-225deg); border: 5px solid orchid; }
}